.floor-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}
.box-container{
    background: #FFFFFF;
    width: 10rem;
    height: 5rem;
    border:1px solid #e6e6e6;
}
.container{
    position: relative;
    color: black;
}
.section{
    display: flex;
}
.button-class{
    width: 6rem;
    margin: 1rem;
    height: 2rem;
    border-radius: 5px;
    color: #FFFFFF;
}
.Call{
    background: #00e68a;
    border: 1px solid #00e68a;
}
.Waiting{
    background: #ff0000;
    border: 1px solid #ff0000;
}
.Arrived{
    background: none;
    border: 1px solid #00e68a;
    color: #00e68a;
}
.floor-number{
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  min-width: 6.25rem;
}
.elevator-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
}
.moveUpWithFade {
    width: 3rem;
    position: absolute;
    animation-duration: 2s;
    transition: transform 1s ease-in 0s;
}
